In [1]:
import pandas as pd
import gc
gc.collect()

0

In [2]:
df = pd.read_csv('sales_train_validation.csv')

In [3]:
df.head(5)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [4]:
df.describe()

,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
count,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,...,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000
mean,1.070220,1.041292,0.780026,0.833454,0.627944,0.958052,0.918662,1.244080,1.073663,0.838701,...,1.370581,1.586159,1.693670,1.248245,1.232207,1.159167,1.149000,1.328862,1.605838,1.633158
std,5.126689,5.365468,3.667454,4.415141,3.379344,4.785947,5.059495,6.617729,5.917204,4.206199,...,3.740017,4.097191,4.359809,3.276925,3.125471,2.876026,2.950364,3.358012,4.089422,3.812248
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000
max,360.000000,436.000000,207.000000,323.000000,296.000000,314.000000,316.000000,370.000000,385.000000,353.000000,...,129.000000,160.000000,204.000000,98.000000,100.000000,88.000000,77.000000,141.000000,171.000000,130.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1919 entries, id to d_1913
dtypes: int64(1913), object(6)
memory usage: 446.4+ MB

In [6]:
df = df.drop(['id', 'dept_id', 'state_id'], axis=1)

In [7]:
# df_valtmp = df['id'].str.split('_', expand=True)

In [8]:
# df_valtmp

In [9]:
# df_valtmp.columns = ['tmp0', 'tmp1', 'tmp2', 'tmp3', 'tmp4', 'validation']

In [10]:
# df_valtmp = df_valtmp.drop(['tmp0','tmp1','tmp2','tmp3','tmp4'], axis=1)

In [11]:
# df = pd.concat([df_valtmp, df], axis=1).drop(['id'], axis=1)

In [12]:
df['store_id'].unique()

array(['CA_1', 'CA_2', 'CA_3', 'CA_4', 'TX_1', 'TX_2', 'TX_3', 'WI_1',
       'WI_2', 'WI_3'], dtype=object)

In [13]:
df['cat_id'].unique()

array(['HOBBIES', 'HOUSEHOLD', 'FOODS'], dtype=object)

In [14]:
df.head(5)

,item_id,cat_id,store_id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001,HOBBIES,CA_1,0,0,0,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002,HOBBIES,CA_1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003,HOBBIES,CA_1,0,0,0,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004,HOBBIES,CA_1,0,0,0,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005,HOBBIES,CA_1,0,0,0,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [15]:
df_melt = pd.melt(df, id_vars=['item_id','cat_id','store_id']) # 'dept_id','state_id'

In [16]:
del df
gc.collect()

200

In [17]:
df_melt = df_melt.rename(columns={'variable': 'd', 'value': 'sales'})

In [18]:
df_melt.head(5)

         item_id   cat_id store_id    d  sales
0  HOBBIES_1_001  HOBBIES     CA_1  d_1      0
1  HOBBIES_1_002  HOBBIES     CA_1  d_1      0
2  HOBBIES_1_003  HOBBIES     CA_1  d_1      0
3  HOBBIES_1_004  HOBBIES     CA_1  d_1      0
4  HOBBIES_1_005  HOBBIES     CA_1  d_1      0

In [19]:
df_melt = df_melt[df_melt['cat_id']=='HOBBIES'].reset_index(drop=True) # 加工実装のため商品を1つに絞る
df_melt = df_melt[(df_melt['item_id']=='HOBBIES_1_001') | (df_melt['item_id']=='HOBBIES_1_002') | \
                  (df_melt['item_id']=='HOBBIES_1_003') | (df_melt['item_id']=='HOBBIES_1_004')].reset_index(drop=True) # 加工実装のため商品を1つに絞る

In [20]:
df_melt.describe()

              sales
count  76520.000000
mean       0.650314
std        1.622646
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max       25.000000

In [21]:
df_melt['sales'] = df_melt['sales'].astype('int16')

In [22]:
df_melt.head(5)

         item_id   cat_id store_id    d  sales
0  HOBBIES_1_001  HOBBIES     CA_1  d_1      0
1  HOBBIES_1_002  HOBBIES     CA_1  d_1      0
2  HOBBIES_1_003  HOBBIES     CA_1  d_1      0
3  HOBBIES_1_004  HOBBIES     CA_1  d_1      0
4  HOBBIES_1_001  HOBBIES     CA_2  d_1      0

In [23]:
df_analysis = df_melt

In [24]:
del df_melt
gc.collect()

80

In [25]:
df_calender = pd.read_csv('calendar.csv')

In [26]:
df_sales_cal = pd.merge(df_analysis, df_calender, on='d', how='inner')

In [27]:
del df_analysis, df_calender
gc.collect()

60

In [28]:
df_sales_cal.head(5)

,item_id,cat_id,store_id,d,sales,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,HOBBIES_1_001,HOBBIES,CA_1,d_1,0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
1,HOBBIES_1_002,HOBBIES,CA_1,d_1,0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
2,HOBBIES_1_003,HOBBIES,CA_1,d_1,0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
3,HOBBIES_1_004,HOBBIES,CA_1,d_1,0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
4,HOBBIES_1_001,HOBBIES,CA_2,d_1,0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0,0,0

In [29]:
df_sales_cal = df_sales_cal.drop(['d', 'weekday'], axis=1)

In [30]:
df_sales_cal['wk'] = df_sales_cal['wm_yr_wk'].astype(str).str[-2:]

In [31]:
df_sales_cal = df_sales_cal.drop(['date'], axis=1)

週のサイクル→自己相関みる  
取り扱い開始日と終売日

In [32]:
# df_sales_cal[df_sales_cal['wm_yr_wk']>11325].reset_index(drop=True)
df_sales_cal = df_sales_cal.drop(['wm_yr_wk', 'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2'], axis=1)

In [33]:
%matplotlib inline
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score # 回帰問題における性能評価に関する関数
import seaborn as sns
import matplotlib.pyplot as plt
# from sklearn.model_selection import train_test_split

In [34]:
df_sales_cal['wk'] = df_sales_cal['wk'].astype('int8')

In [35]:
df_sales_cal.head(5)

,item_id,cat_id,store_id,sales,wday,month,year,snap_CA,snap_TX,snap_WI,wk
0,HOBBIES_1_001,HOBBIES,CA_1,0,1,1,2011,0,0,0,1
1,HOBBIES_1_002,HOBBIES,CA_1,0,1,1,2011,0,0,0,1
2,HOBBIES_1_003,HOBBIES,CA_1,0,1,1,2011,0,0,0,1
3,HOBBIES_1_004,HOBBIES,CA_1,0,1,1,2011,0,0,0,1
4,HOBBIES_1_001,HOBBIES,CA_2,0,1,1,2011,0,0,0,1

In [36]:
# df_sales_cal = pd.get_dummies(df_sales_cal, columns=['item_id', 'cat_id', 'store_id'])

In [37]:
cat_list = ['item_id', 'cat_id', 'store_id']

In [38]:
from sklearn import preprocessing
for column in cat_list:
    target_column = df_sales_cal[column]
    le = preprocessing.LabelEncoder()
    le.fit(target_column)
    label_encoded_column = le.transform(target_column)
    df_sales_cal[column] = pd.Series(label_encoded_column).astype('category')

In [39]:
df_sales_cal.head(5)

,item_id,cat_id,store_id,sales,wday,month,year,snap_CA,snap_TX,snap_WI,wk
0,0,0,0,0,1,1,2011,0,0,0,1
1,1,0,0,0,1,1,2011,0,0,0,1
2,2,0,0,0,1,1,2011,0,0,0,1
3,3,0,0,0,1,1,2011,0,0,0,1
4,0,0,1,0,1,1,2011,0,0,0,1

In [40]:
# 特徴量選択からやり直し
# y = df_sales_cal[df_sales_cal['year'] < 2016]['sales'].values
# X = df_sales_cal[df_sales_cal['year'] < 2016].drop(['sales'], axis=1)

In [41]:
X_train = df_sales_cal[df_sales_cal['year'] < 2016].drop(['sales'], axis=1)
X_test = df_sales_cal[df_sales_cal['year'] >= 2016].drop(['sales'], axis=1)
y_train = df_sales_cal[df_sales_cal['year'] < 2016]['sales'].values
y_test  = df_sales_cal[df_sales_cal['year'] >= 2016]['sales'].values

In [42]:
del df_sales_cal
gc.collect()

91

In [43]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [56]:
import lightgbm as lgb
from sklearn.preprocessing import LabelBinarizer
# モデル構築
# LightGBM用の変数にデータセット
lgb_train = lgb.Dataset(X_train, y_train)
lgb_eval  = lgb.Dataset(X_test, y_test, reference=lgb_train)
# specify your configurations as a dict
params = {
    'task' : 'train',
    'boosting_type' : 'gbdt',
    'objective' : 'regression',
    'metric' : {'l2'},
    'num_leaves' : 32,
    'learning_rate' : 0.05,
    'feature_fraction' : 0.9,
    'bagging_fraction' : 0.8,
    'bagging_freq': 5,
    'verbose' : 0
}
# train
regr = lgb.train(params,
                lgb_train,
                num_boost_round=1000,
                valid_sets=lgb_eval,
                early_stopping_rounds=100,
                categorical_feature = cat_list)

C:\Users\yohei\Anaconda3\lib\site-packages\lightgbm\basic.py:1295: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['cat_id', 'item_id', 'store_id']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))

[1]	valid_0's l2: 2.19054
Training until validation scores don't improve for 100 rounds
[2]	valid_0's l2: 2.06307
[3]	valid_0's l2: 2.0186
[4]	valid_0's l2: 1.98129
[5]	valid_0's l2: 1.89352
[6]	valid_0's l2: 1.81642
[7]	valid_0's l2: 1.72867
[8]	valid_0's l2: 1.65145
[9]	valid_0's l2: 1.62932
[10]	valid_0's l2: 1.56597
[11]	valid_0's l2: 1.50975
[12]	valid_0's l2: 1.45866
[13]	valid_0's l2: 1.41432
[14]	valid_0's l2: 1.37635
[15]	valid_0's l2: 1.36896
[16]	valid_0's l2: 1.33553
[17]	valid_0's l2: 1.30565
[18]	valid_0's l2: 1.28074
[19]	valid_0's l2: 1.25895
[20]	valid_0's l2: 1.25408
[21]	valid_0's l2: 1.24149
[22]	valid_0's l2: 1.22494
[23]	valid_0's l2: 1.21159
[24]	valid_0's l2: 1.20162
[25]	valid_0's l2: 1.2017
[26]	valid_0's l2: 1.19362
[27]	valid_0's l2: 1.18716
[28]	valid_0's l2: 1.18338
[29]	valid_0's l2: 1.18077
[30]	valid_0's l2: 1.17613
[31]	valid_0's l2: 1.17458
[32]	valid_0's l2: 1.17664
[33]	valid_0's l2: 1.17498
[34]	valid_0's l2: 1.17714
[35]	valid_0's l2: 1.17593
[36]	valid_0's l2: 1.17624
[37]	valid_0's l2: 1.17698
[38]	valid_0's l2: 1.17846
[39]	valid_0's l2: 1.17946
[40]	valid_0's l2: 1.18035
[41]	valid_0's l2: 1.18155
[42]	valid_0's l2: 1.18333
[43]	valid_0's l2: 1.18591
[44]	valid_0's l2: 1.18828
[45]	valid_0's l2: 1.18798
[46]	valid_0's l2: 1.19059
[47]	valid_0's l2: 1.19215
[48]	valid_0's l2: 1.19423
[49]	valid_0's l2: 1.19676
[50]	valid_0's l2: 1.19914
[51]	valid_0's l2: 1.20442
[52]	valid_0's l2: 1.20407
[53]	valid_0's l2: 1.20914
[54]	valid_0's l2: 1.21412
[55]	valid_0's l2: 1.21921
[56]	valid_0's l2: 1.22402
[57]	valid_0's l2: 1.22719
[58]	valid_0's l2: 1.23179
[59]	valid_0's l2: 1.23196
[60]	valid_0's l2: 1.23541
[61]	valid_0's l2: 1.23779
[62]	valid_0's l2: 1.24226
[63]	valid_0's l2: 1.24429
[64]	valid_0's l2: 1.24827
[65]	valid_0's l2: 1.25306
[66]	valid_0's l2: 1.25304
[67]	valid_0's l2: 1.25423
[68]	valid_0's l2: 1.25508
[69]	valid_0's l2: 1.25709
[70]	valid_0's l2: 1.25784
[71]	valid_0's l2: 1.2594
[72]	valid_0's l2: 1.26313
[73]	valid_0's l2: 1.26654
[74]	valid_0's l2: 1.27064
[75]	valid_0's l2: 1.27397
[76]	valid_0's l2: 1.27463
[77]	valid_0's l2: 1.277
[78]	valid_0's l2: 1.27823
[79]	valid_0's l2: 1.28017
[80]	valid_0's l2: 1.28127
[81]	valid_0's l2: 1.28152
[82]	valid_0's l2: 1.28194
[83]	valid_0's l2: 1.28326
[84]	valid_0's l2: 1.28393
[85]	valid_0's l2: 1.28548
[86]	valid_0's l2: 1.28682
[87]	valid_0's l2: 1.28668
[88]	valid_0's l2: 1.28838
[89]	valid_0's l2: 1.29093
[90]	valid_0's l2: 1.2919
[91]	valid_0's l2: 1.29194
[92]	valid_0's l2: 1.29342
[93]	valid_0's l2: 1.29468
[94]	valid_0's l2: 1.29695
[95]	valid_0's l2: 1.29699
[96]	valid_0's l2: 1.29738
[97]	valid_0's l2: 1.29801
[98]	valid_0's l2: 1.3002
[99]	valid_0's l2: 1.30297
[100]	valid_0's l2: 1.30322
[101]	valid_0's l2: 1.30499
[102]	valid_0's l2: 1.30703
[103]	valid_0's l2: 1.30928
[104]	valid_0's l2: 1.31086
[105]	valid_0's l2: 1.31202
[106]	valid_0's l2: 1.31499
[107]	valid_0's l2: 1.31773
[108]	valid_0's l2: 1.31986
[109]	valid_0's l2: 1.32058
[110]	valid_0's l2: 1.32176
[111]	valid_0's l2: 1.32152
[112]	valid_0's l2: 1.32102
[113]	valid_0's l2: 1.32358
[114]	valid_0's l2: 1.32415
[115]	valid_0's l2: 1.32505
[116]	valid_0's l2: 1.32558
[117]	valid_0's l2: 1.32612
[118]	valid_0's l2: 1.32679
[119]	valid_0's l2: 1.32748
[120]	valid_0's l2: 1.32753
[121]	valid_0's l2: 1.32946
[122]	valid_0's l2: 1.32938
[123]	valid_0's l2: 1.33153
[124]	valid_0's l2: 1.33129
[125]	valid_0's l2: 1.33353
[126]	valid_0's l2: 1.3333
[127]	valid_0's l2: 1.33332
[128]	valid_0's l2: 1.33317
[129]	valid_0's l2: 1.33313
[130]	valid_0's l2: 1.33308
[131]	valid_0's l2: 1.33307
Early stopping, best iteration is:
[31]	valid_0's l2: 1.17458

In [57]:
# 予測値を計算
y_train_pred = regr.predict(X_train)
y_test_pred = regr.predict(X_test)

# MSEの計算
print('MSE train : %.3f, test : %.3f' % (mean_squared_error(y_train, y_train_pred), mean_squared_error(y_test, y_test_pred)) )

# R^2の計算
print('R2 train : %.3f, test : %.3f' % (r2_score(y_train, y_train_pred), r2_score(y_test, y_test_pred)) )

MSE train : 1.308, test : 1.175
R2 train : 0.508, test : 0.477

In [58]:
y_test_pred

array([0.43460177, 0.36162345, 0.30020133, ..., 0.35717181, 0.30842371,
       2.37275456])